* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.container {
    padding: 5px;
}

.display {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    overflow: hidden;
}

#render {
    image-rendering: pixelated;

    object-fit: contain;

    image-rendering: optimizeSpeed;            
    image-rendering: -moz-crisp-edges;         
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;         
    image-rendering: crisp-edges;            
    -ms-interpolation-mode: nearest-neighbor;
}

.input > div {
    display: inline-block;
}